[user]
# These will be set by the install script
# name = Your Name
# email = your.email@example.com
[init]
defaultBranch = main

[color]
ui = auto
[color "branch"]
current = green bold
local = green
remote = yellow
[color "diff"]
meta = yellow
frag = magenta bold
old = red bold
new = green bold
whitespace = red reverse
[color "status"]
added = green bold
changed = yellow bold
untracked = red bold

[core]
editor = ${EDITOR:-vim} --wait
# Better diffs
pager = less -FRX
whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
# Handle line endings
autocrlf = input
# Make Git case sensitive
ignorecase = false

[diff]
# Use better diff algorithm
algorithm = histogram
# Show moved lines in different color
colorMoved = default
# External diff tool
tool = ${DIFF_TOOL:-vimdiff}
[difftool]
prompt = false
[difftool "vscode"]
cmd = code --wait --diff $LOCAL $REMOTE
[difftool "vimdiff"]
cmd = vim -d $LOCAL $REMOTE

[merge]
# Include summary in merge commits
log = true
# External merge tool
tool = ${MERGE_TOOL:-vimdiff}
[mergetool]
prompt = false
keepBackup = false
[mergetool "vscode"]
cmd = code --wait $MERGED
[mergetool "vimdiff"]
cmd = vim -d $LOCAL $MERGED $REMOTE -c 'wincmd J'

[pull]
rebase = false
[push]
# Push only current branch
default = current
# Push tags automatically
followTags = true
[fetch]
# Remove deleted remote branches
prune = true

[credential]
# Use system credential helper
helper = manager

[credential "https://gitlab.com"]
provider = generic

[credential "cache"]
timeout = 3600
